<section data-ng-controller="HomeController" data-ng-init="find()" class="text-center">
	<div class="row">
		<div class="col-md-offset-5 col-sm-offset-5">
			<img src="modules/core/img/logo.png" class="img-responsive text-center" width="200" height="150"> 
		</div>
	</div>
	<div class="row">
		<h2>Survey App</h2>
	</div>
	<div class="row">
		<p>Create your own True or False Surveys!</p>
	</div>
	<div class="row">
		<a class="btn btn-primary btn-lg" href="#!/surveys/create">Create</a>
		<a class="btn btn-primary btn-lg" href="#!/surveys"> List </a>
	</div>
		
	<div class="list-group text-left col-md-6" >
	<h3>Active Surveys</h3>
		<a data-ng-repeat="survey in surveys" data-ng-href="#!/public/{{survey._id}}" class="list-group-item" data-ng-show="survey.active == 1 && authentication.user._id != survey.user._id">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="survey.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="survey.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="survey.title"></h4>
			<p class="list-group-item-text" data-ng-bind="survey.content"></p>
		</a>
	</div>
	
	<div class="list-group text-left col-md-6" >
	<h3 data-ng-show="authentication.user._id != null">Your Surveys</h3>
		<a data-ng-repeat="survey in surveys" data-ng-href="#!/surveys/{{survey._id}}" class="list-group-item" data-ng-show="authentication.user._id == survey.user._id" >			
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="survey.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="survey.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="survey.title"></h4>
			<p class="list-group-item-text" data-ng-bind="survey.content"></p>
		</a>
	</div>
</section>