<section data-ng-controller="HomeController" data-ng-init="find()">
	<h1>Home Page</h1>
	<div class="list-group" >
	<h3>Active Surveys</h3>
		<a data-ng-repeat="survey in surveys" data-ng-href="#!/public/{{survey._id}}" class="list-group-item" data-ng-show="survey.active == 1 && authentication.user._id != survey.user._id">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="survey.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="survey.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="survey.title"></h4>
			<p class="list-group-item-text" data-ng-bind="survey.content"></p>
		</a>
	</div>
	
	<div class="list-group" >
	<h3 data-ng-show="authentication.user._id != null">Your Surveys</h3>
		<a data-ng-repeat="survey in surveys" data-ng-href="#!/surveys/{{survey._id}}" class="list-group-item" data-ng-show="authentication.user._id == survey.user._id" >			
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="survey.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="survey.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="survey.title"></h4>
			<p class="list-group-item-text" data-ng-bind="survey.content"></p>
		</a>
	</div>
</section>