<section data-ng-controller="SurveyksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Surveyks</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="surveyk in surveyks" data-ng-href="#!/surveyks/{{surveyk._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="surveyk.created | date:'medium'"></span>
				by
				<span data-ng-bind="surveyk.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="surveyk.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!surveyks.$resolved || surveyks.length">
    	No Surveyks yet, why don't you <a href="/#!/surveyks/create">create one</a>?
    </div>
</section>