<section data-ng-controller="SurveysQuestionController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="survey.title"></h1>
	</div>
	<div class="col-md-12" data-ng-show="authentication.user._id == survey.user._id">
		<h3 data-ng-bind="survey.surveyQ1Title"></h3>
		<h5>True: {{survey.surveyQ1AnsA * 100 / (survey.surveyQ1AnsA + survey.surveyQ1AnsB)}} %</h5>
		<h5>False: {{survey.surveyQ1AnsB * 100 / (survey.surveyQ1AnsA + survey.surveyQ1AnsB)}} %</h5>
		<h3 data-ng-bind="survey.surveyQ2Title"></h3>
		<h5>True: {{survey.surveyQ2AnsA * 100 / (survey.surveyQ2AnsA + survey.surveyQ2AnsB)}} %</h5>
		<h5>False: {{survey.surveyQ2AnsB * 100 / (survey.surveyQ2AnsA + survey.surveyQ2AnsB)}} %</h5>
		<h3 data-ng-bind="survey.surveyQ3Title"></h3>
		<h5>True: {{survey.surveyQ3AnsA * 100 / (survey.surveyQ3AnsA + survey.surveyQ3AnsB)}} %</h5>
		<h5>False: {{survey.surveyQ3AnsB * 100 / (survey.surveyQ3AnsA + survey.surveyQ3AnsB)}} %</h5>
		<h3 data-ng-bind="survey.surveyQ4Title"></h3>
		<h5>True: {{survey.surveyQ4AnsA * 100 / (survey.surveyQ4AnsA + survey.surveyQ4AnsB)}} %</h5>
		<h5>False: {{survey.surveyQ4AnsB * 100 / (survey.surveyQ4AnsA + survey.surveyQ4AnsB)}} %</h5>
		<h3 data-ng-bind="survey.surveyQ5Title"></h3>
		<h5>True: {{survey.surveyQ5AnsA * 100 / (survey.surveyQ5AnsA + survey.surveyQ5AnsB)}} %</h5>
		<h5>False: {{survey.surveyQ5AnsB * 100 / (survey.surveyQ5AnsA + survey.surveyQ5AnsB)}} %</h5>
	</div>
	<div data-ng-show="authentication.user._id != survey.user._id">
		<h3>You do not have permission to see the stats for this Survey</h3>
	</div>
</section>