<section data-ng-controller="SurveysController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="survey.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == survey.user._id">
		<a class="btn btn-primary" href="/#!/public/{{survey._id}}">
			<i class="glyphicon glyphicon-pencil"></i> Do it
		</a>
		<a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i> Edit
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i> Delete
		</a>
		<a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/stats">
			<i class="glyphicon glyphicon-tree-deciduous"></i> Stats
		</a>
		<a class="btn btn-primary" data-ng-click="resetStats();">
			<i class="glyphicon glyphicon-off"></i> Reset Stats
		</a>
	</div>
	<div>
		<h3 data-ng-show="survey.numQues >= 1">Question 01: {{survey.surveyQ1Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 2">Question 02: {{survey.surveyQ2Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 3">Question 03: {{survey.surveyQ3Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 4">Question 04: {{survey.surveyQ4Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 5">Question 05: {{survey.surveyQ5Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 6">Question 06: {{survey.surveyQ6Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 7">Question 07: {{survey.surveyQ7Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 8">Question 08: {{survey.surveyQ8Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 9">Question 09: {{survey.surveyQ9Title}}</h3>
		<h3 data-ng-show="survey.numQues >= 10">Question 10: {{survey.surveyQ10Title}}</h3>
	</div>
</section>